@font-face {
    font-family: 'Noto Sans Light';
    src: url('./fonts/NotoSansLight/NotoSans-Light.eot');
    src: url('./fonts/NotoSansLight/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/NotoSansLight/NotoSans-Light.woff2') format('woff2'),
        url('./fonts/NotoSansLight/NotoSans-Light.woff') format('woff'),
        url('./fonts/NotoSansLight/NotoSans-Light.ttf') format('truetype'),
        url('./fonts/NotoSansLight/NotoSans-Light.svg#NotoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    justify-items: center;
    align-items: center;
}